body {
  padding-top: 50px;
  padding-left: 50px;
  font-family: 'Kreon', "Lucida Bright", serif;
}
#content {
  width: 800px;
  height: 500px;
  background-color: lavenderblush;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

g {
  font-family: Lato;
  font-size: 12px;
}

.line {
  stroke: darkMagenta;
  stroke-width: 1px;
  fill: none;
}
